.navigation{
  
    margin-left: 10px;
    margin-top: 0px;
    
}
.d-inline-block.align-text-top{
    border: 0.5px solid green;
    border-radius: 50%;

}
.navigation a{
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-size:medium;
} 
 .navigation a:hover{
    color: rgb(173, 103, 38);
} 